.listHeader {
    margin: 10px;
    display: flex;
}

.img {
    z-index: 10;
}

.filter {
    display: flex;
}

.listMain {
    width: 80%;
    height: 100%;
    background-color: rgba(229,238,249, 0.85);
    margin: 50px auto;
}

.listTable {
    width: 100%;
}

td img {
    max-width: 100px;
    max-height: 100px;
}

thead {
    position: sticky;
    background-color: rgba(19,52,92, 0.9);
    top: 74px;
    color: #027DBC;
}

th {
    /* text-align: center; */
    /* gap: 1px; */
}

.pagination {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    cursor: pointer;
    user-select: none;

}

.pageDisplay {
    margin: 10px;
    cursor: default;
    user-select: none;
}