.App {
  text-align: center;
  display: block;
}

a {
  text-decoration: none;
}

.layout {
  background-image: url('./images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  min-height: 100vh;
}